
.shopping-card {
    height:180px;
    background-color: #c0c0c0;
    margin-left:-10px;
    margin-right: -10px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:20px;
}

.shopping-card-active {
    background-color: #0080c0;
}



.shopping-line {
    border-bottom:1px solid rgba(86,61,124,.2);
    height:30px;
    margin-bottom:20px;
    margin-top:10px;
}


.edit-item {
    background-color:#fff; 
    margin-left:-10px;
    margin-right:-10px;
    font-size:15px;
    color:#808080;
}

.edit-contact {
    background-color:#fff; 
    margin-left:-10px;
    margin-right:-10px;
    font-size:15px;
    padding-top:40px;
    padding-right:40px;
    padding-left:40px;
    padding-bottom:40px;
    color:#808080;
}

.confirm-order {
    background-color:#fff; 
    margin-left:-10px;
    margin-right:-10px;
    font-size:15px;
    padding-top:40px;
    padding-right:40px;
    padding-left:40px;
    padding-bottom:40px;
    color:#808080;
}

.confirm-order table {
    margin-left:40px;
    margin-top:20px;
}
.confirm-order th {
    height:40px;
    padding:5px;
}
.confirm-order tbody td {
    padding:5px;
}
.confirm-order tfoot td {
    padding-top:15px;
}
.confirm-order .contact-table td {
    vertical-align:top;
}


.card-title {
	font-size: 18px;
	margin-left: 20px;
	margin-bottom: 60px;
}
.card-desc {
    font-size: 14px;
    margin-left:90px;
}

.shopping-modify {
	font-size:12px;
	float:right;
}


.shopping-next-btn {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
    margin-left: -15px;
    margin-top: 10px;
    padding: 30px 105px;
}


.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #0080c0;
    margin-left:auto;
    margin-right:auto;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;   
    border-left: 60px solid green;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-right:10px solid blue; 
}