@* right Template File *@
@(step: String)(implicit session: Session)

<div class="col-md-3" >
<div class="left-panel">
  <h2 style="font-size:24px;margin-bottom: 20px;"><img src='@routes.Assets.versioned("images/cart.png")'>您的购物车</h2>
  <div>
@if(session.get(Application.SKeyObjectCount).getOrElse("0").asInstanceOf[String].toInt > 0) {
  <table style="font-size:18px;">
    <tr><td style="height:60px;">3D打印 （<span class="object-count">@session.get(Application.SKeyObjectCount).getOrElse("0")</span>件）</td>
    <td>￥<span class="order-price">@session.get(Application.SKeyOrderPrice).getOrElse("0")</span></td></tr>
    <tr><td>后处理</td><td>免费</td>
    <tr><td>后处理</td><td>免费</td>
    <tr><td>后处理</td><td>免费</td>       
    </tr>
  </table>
  <div class="shopping-line"></div>
  <p style="font-size:18px;">合计金额:</p>
  <p style="font-size:14px;margin-left: 40px;">（不含税费、运费）</p>
  <p style="font-size:24px;text-align: right;margin-top:20px;margin-bottom:20px;padding-right:20px;">
                ￥<span class="total-price">@(session.get(Application.SKeyTotalPrice).getOrElse("0"))</span></p>
  <p style="font-size:16px;margin-left:20px;padding-bottom: 40px;">预计发货日期：2015/12/18</p>
} else {
  <div class="shopping-line"></div>
<h4>您的购物车空空如也，快来上传新的设计吧！</h4>
<p style="text-align:right; padding-bottom:40px;"><a class="btn btn-primary">上传文件</a></p>
}
  </div>
</div>

@if(!session.get("user_name").isEmpty) {
<div class="user-oper-panel">
  <table>
    <tr><td><img src='@routes.Assets.versioned("images/oper_order.png")'></td><td><h4>我的订单查询</h4></td></tr>
    <tr><td><img src='@routes.Assets.versioned("images/oper_info.png")'></td><td><h4>个人信息修改</h4></td></tr>
    <tr><td><img src='@routes.Assets.versioned("images/oper_addr.png")'></td><td><h4>我的地址管理</h4></td></tr>
</table>
</div>
}

    @if(step.length > 0) {
<button id="shopping-step-@step" type="submit" class='btn btn-primary btn-lg btn-lg-1 shopping-next-btn' form="@(step)_form"
	@if(session.get(Application.SKeyObjectCount).getOrElse("0").asInstanceOf[String].toInt <= 0) {disabled}
>下一步 >></button>
    }
</div>
