@* right Template File *@
@(step: String)(implicit session: Session)

        <div class="col-md-3" >
        <div style="background-color:#fff;margin-left:-15px;margin-right: -15px; padding-left:20px;padding-right:10px;">
          <p style="font-size:24px;padding-top: 40px;margin-bottom: 20px;"><img src='@routes.Assets.versioned("images/cart.png")'>您的购物车</p>
          <div>
          <table style="font-size:18px;">
            <tr><td style="height:60px;">3D打印 （<span class="object-count">@session.get(Application.SKEY_OF_OBJECT_COUNT).getOrElse(0)</span>件）</td>
            <td>￥<span class="order-price">@session.get(Application.SKEY_OF_ORDER_PRICE).getOrElse(0)</span></td></tr>
            <tr><td>后处理</td><td>免费</td>
            <tr><td>后处理</td><td>免费</td>
            <tr><td>后处理</td><td>免费</td>       
        </tr>
          </table>
          <div class="shopping-line"></div>
          <p style="font-size:18px;">合计金额:</p>
          <p style="font-size:14px;margin-left: 40px;">（不含税费、运费）</p>
          <p style="font-size:24px;text-align: right;margin-top:20px;margin-bottom:20px;padding-right:20px;">
                        ￥<span class="total-price">@(session.get(Application.SKEY_OF_TOTAL_PRICE).getOrElse(0))</span></p>
          <p style="font-size:16px;margin-left:20px;padding-bottom: 40px;">预计发货日期：2015/12/18</p>
          </div>
            </div>
            <button id="shopping-step-@step" type="submit" class='btn btn-primary btn-lg btn-lg-1 shopping-next-btn' form="@(step)_form" @if(session.get(Application.SKEY_OF_OBJECT_COUNT).getOrElse("0").asInstanceOf[String].toInt <= 0){disabled}>下一步 >> </button>
        </div>