@****(message: String)

@main("Welcome to Play") {

    @play20.welcome(message)

}******@
@()(implicit session: Session)

@main {
      
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="jumbotron">
	<div class="container" >
	  @parts.upload()
	</div>
	
	
    <div class="canvasio3D show-3d-obj">
      <div data-parameter="{'loadingtext':'Loading...','backimg':'...','reflection':'off','refval':'0','floor':'off','floorheight':'42','objpath':'http://localhost:9000/obj/alduin.stl','texturpath':'','envtexturpath':'','objcol':'#ffffff','objcolor':'#ffffff','objscale':'1','objshadow':'on','width':'280','height':'280','dropshadow':'2','zoom':'50','textcol':'#000000','border':'1','bordercol':'#f6f6f6','backcol':'#808080','text':'','rollspeedx':'0','rollspeedy':'0','rollspeedh':'0','rollspeedv':'0','rollmode':'off','mouse':'on','lightset':'1','lightrotate':'off','shine':'0','ambient':'#808080','fps':'','wincount':'0','_uploadUrl':'','_picUrl':'','lang':'en_US','help':'off','winCount':0}" id="3D_1" style="cursor: move;">
      </div>
    </div>

 
	
	
      </div>
    </div>
  </div>
</div>

}
  
