@(step: String)(content:Html)(implicit session: Session, flash: Flash)

@main{
    <div class="container" style="padding-bottom:48px;margin-top:-10px;">
    
    <div class="row" style="margin-top:0px;">

        <div class="col-md-9">
	        <div class="row">
	            <div class="col-md-4" ><div class='shopping-card @if(step == "item"){shopping-card-active}'>
	            <p class="card-title">文件预览与打印设置<a href="/s/editItems" class='shopping-modify @if(step == "item"){invisible}'> 修改</a></p>
	            <p class="card-desc">添加打印文件、选择材料、修改打印设置，预览价格</p>
	            </div>@if(step == "item"){<div class='arrow-down'></div>}
	            </div>
	            
	            <div class="col-md-4" ><div class='shopping-card @if(step == "contact"){shopping-card-active}' >
	            <p class="card-title">完善地址与联系人信息 <a href="/s/editContact" class='shopping-modify @if(step == "item" || step == "contact"){invisible}'> 修改</a></p>
	            <p class="card-desc">添加您希望我们邮寄的地址和联系人信息</p>
	            </div>@if(step == "contact"){<div class='arrow-down'></div>}
	            </div>
	            
	            <div class="col-md-4" ><div class='shopping-card @if(step == "confirmOrder"){shopping-card-active}'>
	            <p class="card-title">支付下单与开票信息</p>
	            <p class="card-desc">支持网银、支付宝、微信支付，可开具增值税发票</p>
	            </div>@if(step == "confirmOrder"){<div class='arrow-down'></div>}
	            </div>
            </div>

            
           @content

 
     
        </div>
        
        @parts.right(step)


        </div>
      
      
    </div>

}
